<div class="container mat-elevation-z8">
    <form class="form-container">
        <mat-form-field class="form-field-container">
            <input type="text" matInput [formControl]="name" placeholder="Naziv momčadi" required>
            <mat-error *ngIf="name.hasError('required')">
                Naziv mjesta je obavezan
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Odaberite klub" aria-label="Number" matInput [formControl]="club"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let klub of klubCollection" [value]="klub">
                    {{klub.naziv}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="row">
            <button type="submit" mat-raised-button color="primary" class="submit" (click)="onSubmit()">Ažuriraj
                momčad</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 igraci">
            <h2>Igrači ove momčadi</h2>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let igrac of igraciMomcadi">
                    <a routerLink="/igraci-edit/{{igrac.id}}">
                        <button mat-button color="primary">{{igrac.osoba.ime + ' ' + igrac.osoba.prezime}}
                        </button>
                    </a>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-md-6 osoblje">
            <h2>Osoblje ove momčadi</h2>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let osoblje of osobljeMomcadi">
                    <a routerLink="/osoblje-edit/{{osoblje.id}}">
                        <button mat-button color="primary">
                            {{osoblje.osoba.ime + ' ' + osoblje.osoba.prezime}}
                        </button>
                    </a>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>