<div class="container mat-elevation-z8">
    <form class="form-container">
        <mat-form-field class="form-field-container">
            <input type="text" matInput [formControl]="reason" placeholder="Razlog plaćanja" required>
            <mat-error *ngIf="reason.hasError('required')">
                Razlog plaćanja je obavezan
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-container">
            <input type="text" matInput [formControl]="amount" placeholder="Iznos" required>
            <mat-error *ngIf="amount.hasError('required')">
                Iznos je obavezan
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Odaberite partnera" aria-label="Number" matInput [formControl]="partner"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let partner of partneri" [value]="partner">
                    {{partner.nazivPartnera}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Datum plaćanja</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="dateOfPayment">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <div class="row">
            <button type="submit" mat-raised-button color="primary" class="submit" (click)="onSubmit()">Dodaj
                plaćanje partnera</button>
        </div>
    </form>
</div>