<button mat-stroked-button color="primary" class="addKlub" routerLink="/klubovi-add">+ Dodaj klub</button>

<div class="example-table-container mat-elevation-z8">

  <table mat-table [dataSource]="klubovi" matSort (matSortChange)="sortData($event)"
    [matSortActive]="sortActive" [matSortDirection]="sortDirection">

    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv kluba</th>
      <td mat-cell *matCellDef="let club">{{club.naziv}}</td>
    </ng-container>

    <ng-container matColumnDef="godinaOsnivanja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Godina osnivanja kluba</th>
        <td mat-cell *matCellDef="let club">{{club.godinaOsnivanja}}</td>
    </ng-container>

    <ng-container matColumnDef="sjedisteKluba">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mjesto kluba</th>
      <td mat-cell *matCellDef="let club">{{club.sjedisteKluba.adresa}}</td>
    </ng-container>

    <ng-container matColumnDef="stadion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stadion kluba</th>
      <td mat-cell *matCellDef="let club">{{club.stadion.naziv}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let club">
        <button mat-raised-button matTooltip="Brisanje stavke" (click)="deleteData(club.id)" color="warn">
          <span class="material-icons">
            delete
          </span>
        </button>
        <button mat-raised-button matTooltip="Uredi lokaciju" (click)="editKlub(club.id)" color="primary">
          <span class="material-icons">
            edit
          </span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="pageIndex"
    (page)="pageEvent = getServerData($event)"></mat-paginator>
</div>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->