.container {
    text-align: center;
}

.mat-form-field {
    margin: 15px;
}

.example-full-width {
    width: 300px;
}

.submit {
    margin:10px;
}

.mat-form-field--no-underline .mat-input-underline {
    background-color: transparent;
}