<button mat-stroked-button color="primary" class="addUser" routerLink="/smjestaj-add">+ Dodaj smještaj</button>

<div class="example-table-container mat-elevation-z8">

  <table mat-table #sortAcc="matSort" [dataSource]="spolovi" class="example-table" matSort (matSortChange)="sortDataAcc($event)"
    [matSortActive]="sortActiveAcc" [matSortDirection]="sortDirectionAcc">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID spola</th>
      <td mat-cell *matCellDef="let acc">{{acc.id}}</td>
    </ng-container>
    <ng-container matColumnDef="genderName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spol</th>
      <td mat-cell *matCellDef="let acc">{{acc.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let acc">
        <button mat-raised-button matTooltip="Brisanje stavke" (click)="deleteAccData(acc.id)" color="warn">
          <mat-icon class="fas fa-broom">X</mat-icon>
        </button>
        <button mat-raised-button matTooltip="Uredi smještaj" (click)="editAcc(acc.id)" color="primary">
          <mat-icon class="fas fa-broom">E</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAcc"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAcc;"></tr>
  </table>
</div>
<mat-paginator #pagAcc [length]="resultsLengthAcc" [pageSize]="pageSizeAcc" [pageSizeOptions]="[5, 10, 25, 50]"
  [pageIndex]="pageIndexAcc" (page)="pageEventAcc = getAccServerData($event)"></mat-paginator>