<button mat-stroked-button color="primary" class="addNatjecanje" routerLink="/natjecanja-add">+ Dodaj Natjecanje</button>

<div class="example-table-container mat-elevation-z8">

  <table mat-table [dataSource]="natjecanja" matSort (matSortChange)="sortData($event)"
    [matSortActive]="sortActive" [matSortDirection]="sortDirection">

    <ng-container matColumnDef="imeNatjecanja">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv natjecanja</th>
      <td mat-cell *matCellDef="let competition">{{competition.imeNatjecanja}}</td>
    </ng-container>

    <ng-container matColumnDef="drzava">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Država</th>
      <td mat-cell *matCellDef="let competition">{{competition.drzava.nazivDrzave}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell *matCellDef="let competition">
        <button mat-raised-button matTooltip="Brisanje stavke" (click)="deleteData(competition.id)" color="warn">
          <span class="material-icons">
            delete
          </span>
        </button>
        <button mat-raised-button matTooltip="Uredi lokaciju" (click)="editNatjecanje(competition.id)" color="primary">
          <span class="material-icons">
            edit
          </span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="pageIndex"
    (page)="pageEvent = getServerData($event)"></mat-paginator>
</div>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->